:root {
	/* Colors */
	--lightBlue: #417ac4;
	--blue: #2e5589;
	--purple: #5c4dc4;
	--lightGreen: #41c4a0;
	--green: #2e8970;
	--black: #343e4c;
	--cream: #c3af6f;
	--white: #e5e9dc;
	/* --cream: #e5b641; */
	/* Color Intentions */
	--background: var(--black);
	--outlineColor: var(--black);
	--sliceBackground: var(--blue);
	--textColor: var(--white);
	--signatureBackground: var(--blue);
	--sliceBackground: var(--blue);
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
.container {
	/* width: 1200px; */
	margin: 0 auto;
	padding: 0 19%;
}
.slice {
	outline: 3px solid var(--lightBlue);
	padding: 15px;
	margin: 15px;
	background-color: var(--sliceBackground);
}
.signature {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	background-color: var(--background);
	margin: 35px;
	padding: 35px;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
	body {
		color: var(--textColor);
		background: var(--background);
	}
}
